
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		
		<!-- bootstrap -->
		<link rel="stylesheet" href="/stylesheets/bootstrap/css/font-awesome.min.css">
		<link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="/stylesheets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="/themes/css/main.css" rel="stylesheet"/>
		<link href="/themes/css/jquery.fancybox.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min2.css"> -->
	<link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min3.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
		<!-- scripts -->
		<script src="/themes/js/jquery-1.7.2.min.js"></script>
		<script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>				
		<script src="/themes/js/superfish.js"></script>	
		<script src="/themes/js/jquery.scrolltotop.js"></script>
		<script src="/themes/js/jquery.fancybox.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<div class="input-group">
							<input type="text" class="search-query form-control input-group" Placeholder="My laptop.">
							<span class="input-group-btn">
								<button class="btn btn-primary rounded-circle btnpro" type="button" id="btn-search">
									<span class="fa fa-search"></span>
								</button>
							</span>
							
						</div>
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">		
						<% if(layoutVM.isLogged == true) { %>		
						<!--	<li><a href="#">Tài Khoản</a></li> -->
							<li><a href="../cart"> Giỏ hàng </a></li>
							<li><a href="../history/<%= layoutVM.curUser.f_sdt %>">Xem lịch sử mua hàng</a></li>

						
									<% if(layoutVM.curUser.f_Permission == 1) { %>		
									
										<li><a href="../index1.html"> Admin </a></li>
									
										<%
										}%>		
							<%
							}%>		
														
							<li><a href="../register.html"> Đăng nhập </a></li>	
							<% if(layoutVM.isLogged == true) { %>
								<!-- <li><a href="register.html"><%= layoutVM.curUser.f_Username %></a></li> -->
								<span class="dropdown">
									<button class="btn btn-success dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><%= layoutVM.curUser.f_Username %>
									<span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									<li><a role="menuitem" tabindex="-1" href="../customer.html">Chỉnh sửa thông tin</a></li>
						<!--			<li><a role="menuitem" tabindex="-1" href="../history/<%= layoutVM.curUser.f_sdt %>">Xem lịch sử mua hàng</a></li> -->
									<li><a role="menuitem" tabindex="-1" href="../logout1.html">Thoát</a></li>
									
									</ul>
								</span>
							<%
							}%>			
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="../index.html" class="logo pull-left"><h4 class="title">ILAPTOP</h4> </a>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="../products.nsx/1">Hãng sản xuất</a>					
								<ul>
									<% danhsach2.danhsachsv2.forEach(function (motphantu){		%>
											
											<li><a href="../products.nsx/<%= motphantu.nsxID %>"><%= motphantu.nsxName %></a></li>
									<% }) %>								
								</ul>
							</li>															
	
							<li><a href="../products.cate/1">Loại sản phẩm</a>
								<ul>									
							<!--		<li><a href="./products.html">Chơi game</a></li>
									<li><a href="./products.html">Học tập-văn phòng</a></li>
									<li><a href="./products.html">Đồ họa-kỹ thuật</a></li>
									<li><a href="./products.html">Cao cấp sang trọng</a></li> -->
									<% danhsach1.danhsachsv1.forEach(function (motphantu){		%>
											
											<li><a href="../products.cate/<%= motphantu.CatID %>"><%= motphantu.CatName %></a></li>
									<% }) %>
								</ul>
							</li>			
							<li><a href="../products.html/topsale">Bán chạy nhất</a></li>
							<li><a href="../products.html/new">Sản phẩm mới</a></li>
						</ul>
					</nav>
				</div>
			</section>				
			<section class="header_text sub">
				<img class="pageBanner" src="/themes/images/baner.jpg" alt="New products" >
				<br/>
				<h4><span>Shopping Cart</span></h4>
			</section>
			<section class="main-content">				
				<div class="row">						
					<div class="span9">
						<div class="row">
							
						</div>
						<div class="row">
							<div class="span9">
														 
								<div class="tab-content">
									<h4 class="title"><span class="text"><strong>Giỏ Hàng</strong> Của Bạn </span></h4>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Hình ảnh</th>
									<th> Tên Sản Phẩm </th>
									<th> Số Lượng </th>
									<th> Giá Tiền </th>
								</tr>
							</thead>
							<tbody>
								
								<% var total = 0;%>
								<% for(i=0;i<ds.items.length; i++) {		%>
									<% danhsach.danhsachsv.forEach(function (motphantu){		%>
											<% if(motphantu.ProID == ds.items[i].ProId){ %>
											<tr>
												<td><a href="../product_detail.html/<%= motphantu.ProID %>"><img alt="" src="/themes/images/cloth/<%= motphantu.ProID %>/lap.png"></a></td>
												<td><%= motphantu.ProName %></td>
												<td><input type="text" value="<%= ds.items[i].Quantity %>" class="input-mini" ></td>
												<td><%= motphantu.ProPrice %></td>
												<form action="" method="post">
													<input name="proId<%= motphantu.ProID %>" type="hidden" value="<%= motphantu.ProID %>">
												</form>
											</tr>
											<% 
											var str = motphantu.ProPrice;
												var x = motphantu.ProPrice.length - 1;
												var temp = str.toString().slice(0, x);
												var so = ds.items[i].Quantity;
												console.log("========== money =====" + temp);
												total = total + so*temp;

											%>
											<% } %>
										
									<% }) %>
									<% } %>
							
											  
								
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td><strong> Tổng tiền: </strong><strong><span id="total"><%= total%>đ</span></strong></td>
								</tr>		  
							</tbody>
						</table>
						<h4> Thanh toán </h4>

						<hr/>
										
							 
								</div>
										<form action="/thanhtoan" method="post">
										
									<div class="form-group">
										<label for="ten">Tên khách hàng:</label>
										<input type="text" class="form-control" id="ten" name="ten"  value="<%= layoutVM.curUser.f_Username %>">
									</div>
									<div class="form-group">
											<label for="diaChi">Địa chỉ khách hàng:</label>
											<textarea class="form-control" rows="5" cols="3000" id="diaChi" name="diaChi" ></textarea>
										</div>
									
					
									
									
									<div class="form-group">
										<label for="sdt">Số điện thoại:</label>
										<input type="textarea" class="form-control" id="sdt" name="sdt" value="<%= layoutVM.curUser.f_sdt %>">
									</div>
					
									<div class="form-group">
											<label for="txtDOB">Ngày thanh toán</label>
											
													<input type="text" class="form-control" id="txtDOB" placeholder="dd/mm/yyyy" name="dob">
											
									</div>
               			
							<!--		<div class="form-group">
										<label for="status">Tình trạng:</label>
										<input type="text" class="form-control" id="status" name="status"  value="Chưa giao">
									</div> -->
									<button type="submit" class="btn btn-success">Thanh toán</button>
							</form>							
							</div>		

						

							

							
						</div>
					</div>
					<div class="span3 col">
						<div class="block">	
							<ul class="nav nav-list">
								<li class="nav-header">Danh mục</li>
								<% danhsach1.danhsachsv1.forEach(function (motphantu){		%>
											
											<li><a href="../products.cate/<%= motphantu.CatID %>"><%= motphantu.CatName %></a></li>
									<% }) %>
							</ul>
							<br/>
							<ul class="nav nav-list below">
								<li class="nav-header">Nhà sản xuất</li>
								<% danhsach2.danhsachsv2.forEach(function (motphantu){		%>
											
											<li><a href="../products.nsx/<%= motphantu.nsxID %>"><%= motphantu.nsxName %></a></li>
									<% }) %>
							</ul>
						</div>
						
						<!-- newww-->
						<div class="block">								
							<h4 class="title"><strong>Bán</strong> chạy</h4>								
							<ul class="small-product">
								<% danhsach5.danhsachsv5.forEach(function (motphantu){		%>
									
										<li>
									<a href="../product_detail.html/<%= motphantu.ProID %>" title="Praesent tempor sem sodales">
										 <img src="/themes/images/cloth/<%= motphantu.ProID %>/lap.png" alt="Praesent tempor sem sodales">
									</a>
									<a href="../product_detail.html/<%= motphantu.ProID %>"><%= motphantu.ProName %></a>
								</li>
								<% }) %>
								
						
							</ul>
						</div>
					</div>
				</div>
			</section>			
			<section style="background-color: #857474;" id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Điều Hướng</h4>
						<ul class="nav">
							<li><a href="../index.html">Trang chủ</a></li>  
							<li><a href="../about.html">Thông tin</a></li>
							<li><a href="../contact.html">Liên hệ</a></li>
							<li><a href="../cart">Giỏ hàng</a></li>
							<li><a href="../register.html">Đăng nhập</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="#">Tài khoản của tôi</a></li>
							<li><a href="#">Lịch sử đặt hàng</a></li>
							<li><a href="#">Danh sách yêu thích</a></li>
							<!-- <li><a href="#">Làm mới</a></li> -->
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><!-- <img src="/themes/images/logo.png" class="site_logo" alt=""> --><h4>ILAPTOP</h4></p>
						<p style="color: white;">Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới nhất trên thị trường hiện nay
							<br/>Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới nhé!</p>
							<div style="margin-left: 60px;">
								<a href="#" class="button">
									<i class="fab fa-facebook-f fa-lg"></i>
								</a>
								<a href="#" class="button">
									<i class="fab fa-twitter fa-lg"></i>
								</a>
								<a href="#" class="button">
									<i class="fab fa-instagram fa-lg"></i>
								</a>
							</div>
							
						</div>					
					</div>	
				</section>
			
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="/themes/js/common.js"></script>
		<script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});
				
				$('#myCarousel-2').carousel({
                    interval: 2500
                });								
			});
		</script>

		<script>
		function myFunction() {
			document.getElementById("total").value = document.getElementById("txtq").value + 1;
		}
		</script>
		<!-- kiem tra va format date-->
<script src="/javascripts/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript">
		$('#txtDOB').datepicker({
			format: 'd/m/yyyy',
			autoclose: true
		});

	
	</script>
<!-- end-->
    </body>
</html>